.box {
    width: 200px;
    height: 300px;
    border: 4px solid black;
    display: inline-block;
    margin: 0auto;
}

.text-container {
    padding-left: 50px;
    border: 4px solid black;
    background-color: blueviolet;
}

.red-background {
    background-color: red;
}

.blue-background {
    background-color: blue;
    margin: 50px;
}

.has-margin {
    margin: 0.50px;
}

.green-background {
    background-color: green;
}