.title-orange {
    color: orange;
}

#title-blue {
    color: blue;
}

.title-red {
    color: red;
}

#title-green {
    color: rgb(85, 224, 85);
}

#title-red {
    color: red;
}

.title-green {
    color: rgb(85, 224, 85);
}

.title-blue {
    color: blue;
}