sans-serif {
    font-family: 'roboto', sans-serif;
}

header {
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    height: 50px;
    text-align: center;
}

nav {
    height: 50px;
    background-color: rgba( 0, 0, 0, 0.8);
}

.list {
    margin: 20px;
    text-decoration: none;
}

.ancor {
    text-decoration: none;
    color: white;
}

#shopping {
    width: 45px;
    height: 35px;
    margin-top: 10px;
}

#zoon {
    width: 26px;
    height: 0px;
    margin-top: 0px;
    margin: 0px;
}

.horizontal {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: inline-flex;
}

main {
    text-align: center;
    /* font-size: 18px; */
    margin: unset;
}

.title-orange {
    color: orange
}

.big-text {
    font-size: 50px;
}

.bold {
    font-weight: bold;
}

button {
    background-color: rgba( 0, 113, 227);
    border-radius: 10px;
    border: none;
    color: white;
}

.a {
    color: rgba( 0, 113, 227);
    text-decoration: none;
}

div {
    padding-top: 10px;
    padding-bottom: 20px;
}

#macbook-horizontal {
    width: 700px;
}

.sans-serit {
    font-family: sans-serif;
}

.box {
    /* text-align: center; */
    width: 400px;
    height: 500px;
    display: inline-block;
    background-color: rgba(242, 242, 242);
    margin: 10px;
}

#section-boxes {
    display: inline-flex;
    margin-bottom: 50px;
    margin-top: 50px;
}

.sin-margen {
    margin: unset;
}

#imagebox {
    width: 50px;
    height: 50px;
}

#imglaptop-cover {
    width: 370px;
    height: 225px;
    margin-top: 10px;
}

#imgapple-tools {
    width: 400px;
    height: 250px;
    margin-top: 10px;
}

.big-text {
    font-size: 35px;
}

h2 {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0.50px;
    margin-bottom: 30px;
}

footer {
    background-color: rgb(245, 245, 247);
    color: rgb(81, 81, 84);
    font-size: 12px;
    height: 40px;
    list-style-type: none;
    overflow: hidden;
    /* text-align: center; */
}

.no-line {
    text-decoration: none;
    color: rgb(81, 81, 84);
    display: inline-block;
    font-weight: bold;
}

.line {
    margin-top: 10px;
}

#footer-container {
    margin-left: 14%;
}